<div class = "section">
	<%= simple_form_for @post  do |f| %>
		<div class = "field" >
			<div class = "control"> 
				<%= f.input :title, input_title: { class: 'input' }, wrapper: false, label_html:{ class: 'label'} %>
			</div>
			
		</div>

		<div class = "field" >
			<div class = "control"> 
				<%= f.input :content, input_title: { class: 'textarea' }, wrapper: false, label_html:{ class: 'label'} %>
			</div>
			
		</div>

		<div>
			<%= f.button :submit, class: "button is-primary" %>
		</div>
	<% end %>
</div>